html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, Helvetica, sans-serif;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent background */
    background-image: url('img/hay back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

